@using Properties4Sale.Common
@model Properties4Sale.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>We have:</p>
    <div class="col-4">
    <ul class="list-group">
        <li class="list-group-item">Properties: @Model.PropertiesCount</li>
        <li class="list-group-item">Types Of Properties: @Model.TypesOfPropertiesCount</li>
    </ul>
    </div>
    
</div>
