@model Properties4Sale.Web.ViewModels.Property.EditPropertyInputModel
@{
    var TypeOfPropertiesItems = this.Model.TypeOfPropertiesItems.Select(x => new SelectListItem(x.Value, x.Key));
    }
<!DOCTYPE html>
<html lang="en">


<body>
    <hr />
    <div class="container">
        <section class="intro-single">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit" id="EditForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Area" class="control-label"></label>
                            <input asp-for="Area" class="form-control" />
                            <span asp-validation-for="Area" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Beds" class="control-label"></label>
                            <input asp-for="Beds" class="form-control" />
                            <span asp-validation-for="Beds" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Baths" class="control-label"></label>
                            <input asp-for="Baths" class="form-control" />
                            <span asp-validation-for="Baths" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Garages" class="control-label"></label>
                            <input asp-for="Garages" class="form-control" />
                            <span asp-validation-for="Garages" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TypeOfPropertyId" class="control-label"></label>
                            <select asp-for="TypeOfPropertyId" class="form-control" asp-items="TypeOfPropertiesItems"></select>
                            <span asp-validation-for="TypeOfPropertyId" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Id" />
                    </form>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#EditProperty">Save changes</button>
            </div>
        </section>
    </div>

    

    <div class="modal fade" id="EditProperty" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save Changes?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure about the changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="EditForm.submit()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


   
</body>
</html>